<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="API" value="REST"/>
<parameter name="Jar" value="RestAssured"/>
  <test name="Test">
    <classes>
      <class name="com.restAssured.testing.SimpleGetTest"/>
      <class name="com.netcracker.Telus.ShoppingCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
